<% include ../head %>

<script>

  function findGeo(){
    var url = 'https://maps.googleapis.com/maps/api/geocode/json';
    var search = $('#search-term').val();
    
    $.ajax({
      url: url,  
      data: {
        address: search,
        key: 'AIzaSyBEEUG7_kkWgi8BKTluspPI86uttv8pHTE',
      }    
    }).done(function(data) {
      console.log(data);
      if(data['status'] == "OK") {
        $.each(data['results'], function(k, v){
          $('#name').val(v['formatted_address']);
          $('#lat').val(v['geometry']['location']['lat']);
          $('#lng').val(v['geometry']['location']['lng']);
        });
      } else {
        alert('Nenhum resultado encontrado.');
      }
    }).fail(function(data) {
      console.log('ok');
    });

  }

</script>

<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <span class="logo"><img src="/images/logo.svg" alt="" /></span>
        <a href='/'>Cancelar</a>
    </header>

    <div  style="text-align:center;">

        <p>
           <input type="text" name="name" id='search-term' placeholder="Endereço" style="max-width: 400px;margin:0 auto;" />
           <button type="button" id='search' onclick="findGeo()">Buscar geolocalização</button>
          
        </p>

        <form method="post">
          <p>
            <label for="name">
              <input type="text" name="name" id='name' placeholder="name" style="max-width: 400px;margin:0 auto;" />
            </label>
          </p>
          <p>
            <label for="lat">
              <input type="text" name="lat" id='lat' placeholder="lat" style="max-width: 400px;margin:0 auto;" />
            </label>
          </p>
          <p>
            <label for="lng">
              <input type="text" name="lng" id='lng' placeholder="lng" style="max-width: 400px;margin:0 auto;" />
            </label>
          </p>
          <p style='max-width: 400px;margin:0 auto;text-align:left; line-height:40px;font-size:22px;'>
              % Gás: <br>
              <input type="range" name="gas" id='gas' min=0 max=100 style="width:90%;height:30px;" />
          </p>
          <p style='max-width: 400px;margin:0 auto;text-align:left; line-height:40px;font-size:22px;'>
              % Bateria: <br>
              <input type="range" name="batery" id='batery' min=0 max=100 style="width:90%;height:30px;" />
          </p>

          <button type="submit">
            Cadastrar
          </button>

          <h4 style='text-align: left'>
          Hint<br>
          posição poa: <br>
          lat: -30.0763433<br> 
          lng: -51.2003162
          </h4>

        </form>
    </div>

    <br>  
    <br>  
    <br>  
    <br>  
      <p>design by <a href="https://twitter.com/ajlkn">@ajlkn</a> for <a href="https://html5up.net">HTML5 UP</a>.</p> Development by <a href="https://github.com/tmazza">tmazza</a>
</div>



<% include ../footer %>
