<% include ../head %>
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <span class="logo"><img src="/images/logo.svg" alt="" /></span>
        <a href='/'>Cancelar</a>
    </header>

    <div  style="text-align:center;">

        <form method="post">
          <p>
            <label for="name">
              <input type="text" name="name" id='name' placeholder="name" style="max-width: 400px;margin:0 auto;" />
            </label>
          </p>
          <p>
            <label for="lat">
              <input type="text" name="lat" id='lat' placeholder="lat" style="max-width: 400px;margin:0 auto;" />
            </label>
          </p>
          <p>
            <label for="lng">
              <input type="text" name="lng" id='lng' placeholder="lng" style="max-width: 400px;margin:0 auto;" />
            </label>
          </p>

          <button type="submit">
            Cadastrar
          </button>

          <h4 style='text-align: left'>
          Hint<br>
          posição poa: <br>
          lat: -30.0763433<br> 
          lng: -51.2003162
          </h4>

        </form>
    </div>
</div>
<% include ../footer %>