extends layout

block content
  h1= title
  p Welcome to #{title}

  if user != null
    h1= '\\o/ Olá ' + user.nome
    a(href='/logout') Sair
  else 
    h1 Identifique-se :(
    a(href='/login') Entrar


  br
  br

  a(href='/area-restrita') Área restrita