<% include head %>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <span class="logo"><img src="images/logo.svg" alt="" /></span>
        <h3>
            <% if (user == null) { %>
                <p>Faça login para cadastrar sensores
                    <a href='/login'>Entrar</a>
                </p>
            <% } else { %>
                <a href='/sensors/add'>Cadastrar sensor</a> | 
                <a href='/logout'>Logout</a>
            <% } %>
        </h3>
    </header>
    
    <!-- Main -->
    <div id="main">
           <div id="map"></div>
            <script>
              function initMap() {
                var poa = {lat: -30.0763433, lng: -51.2003162};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 12,
                  center: poa,
                  styles: [{"featureType":"water","stylers":[{"saturation":43},{"lightness":-11},{"hue":"#0088ff"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":99}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#808080"},{"lightness":54}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ece2d9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#ccdca1"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#767676"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#b8cb93"}]},{"featureType":"poi.park","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"simplified"}]}],
                });
                var marker = new google.maps.Marker({
                  position: poa,
                  map: map
                });
              }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEEUG7_kkWgi8BKTluspPI86uttv8pHTE&callback=initMap">
        </script>
    </div>

    <br>  
      <p>design by <a href="https://twitter.com/ajlkn">@ajlkn</a> for <a href="https://html5up.net">HTML5 UP</a>.</p> Development by <a href="https://github.com/tmazza">tmazza</a>
</div>


<% include footer %>
